<h2>BIENVENIDOS AL CHAT</h2>

<form id="formulario">
    <input type="text" name="mensaje" id="mensaje">
    <input type="submit" value="ENVIAR">
</form>

<p id="chat"></p>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
