{{#if productos.length}}
{{#each productos}}

<p>Producto: {{this.title}} </p>

<p>Precio: {{this.price}}</p>

{{/each}}

{{else}}
<h2>NO HAY PRODUCTOS REGISTRADOS</h2>

{{/if}}




{{!-- <h1>Product List</h1>
    <ul id="product-list"></ul> --}}

{{!-- <script src="/socket.io/socket.io.js"></script> --}}

{{!-- <script src="/js/home.js"></script> --}}

