{{#if productos.length}}
{{#each productos}}

<p>Producto: {{title}} </p>

<p>Precio: {{price}}</p>

{{/each}}

{{else}}
<h2>NO HAY PRODUCTOS REGISTRADOS</h2>

{{/if}}

<script src="/socket.io/socket.io.js"></script>
