<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				{{#if error}}
				<h1>{{error.code}}</h1>
				<h2>{{error.name}}</h2>
				<h5>{{error.message}}</h5>
				{{/if}}
			</div>
			<a href="/">Home</a>
		</div>
	</div>