<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				{{#if adminCredentials}}
				<h1>401</h1>
				<h2>Unauthorized</h2>
				<h5>Se necesitan credenciales de Administrador</h5>
				
				{{else}}
				<h1>404</h1>
				<h2>Page not found</h2>
				{{/if}}
			</div>
			<a href="/">Home</a>
		</div>
	</div>