<h3 id="bienvenida">ESTE ES TU PERFIL</h3>

<button onclick="location.href='/'">Ir al inicio</button>

<div id="productContainer">
    <p>Nombre:{{first_name}}</p>
    <p>Apellido:{{last_name}}</p>
    <p>Email:{{email}}</p>
    <p>Edad:{{age}}</p>
</div>

<script src="/js/perfil.js"></script>