{{> navbar adminData=adminData}}
<div class="welcomeImage">
  <div class="welcomeText">
    <h3>Buenos dias {{userData.first_name}} {{userData.last_name}}</h3>
    <p>Tu rol es de: {{userData.rol}}</p>
  </div>
</div>

  <div id="card-render" style="display:flex;flex-wrap: wrap; justify-content: space-around;  row-gap: 20px;">
    <div class="custom-loader"></div>
  </div>
  



  <script src="/socket.io/socket.io.js"></script>

  <script src="/js/products.js"></script>