 <h3>Hola {{first_name}} {{last_name}} tu rol es de: {{rol}}</h3>
 <button id="logOut">Cerrar Sesion</button>
 <button class="cartButton"><a id="linkToCart" href="/home">IR AL CARRITO</a> </button>
 
 <table id="productsTable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Codigo</th>
          <th>Status</th>
          <th>Stock</th>
          <th>Categoria</th>
          <th>Precio</th>
          <th>Imagen</th>
          
        </tr>
      </thead>
      <tbody>
        
      </tbody>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/products.js"></script>