{{> navbar adminData=adminData}}
<div class="welcomeImage">
  <div class="welcomeText">
    <h3>Buenos dias {{userData.first_name}} {{userData.last_name}}</h3>
    <p>Tu rol es de: {{userData.rol}}</p>
  </div>
</div>

  <div style="display: none;" id="pagination">
      <button class="pagination-btn" id="prev-btn">&lt; Anterior</button>
      <button class="pagination-btn" id="next-btn">Siguiente &gt;</button>
</div>
  <div id="card-render">
		
    </div>
    

  
  <div class="center">
    <div class="custom-loader"></div>
  </div>
  
  



  <script src="/js/products.js"></script>