<h3>Agregar producto</h3>
<form id="formulario" action="/api/products" method="post">

    Title:<input class="form" type="text" name="title" id="title" required>
    Description: <input class="form" type="text" name="description" id="description" required>
    Code: <input class="form" type="text" name="code" id="code" required>
    Price: <input class="form" type="number" name="price" id="price" required>
    Status: <input class="form" type="text" name="status" id="status">
    Stock: <input class="form" type="number" name="status" id="status">
    Category: <input class="form" type="text" name="category" id="category" required>
    Thumbnail: <input class="form" type="url" name="thumbnail" id="thumbnail">

    <input type="submit" value="enviar">
</form>


<h3>Eliminar producto</h3>
ID: <form id="deleteForm" action="/api/products" method="delete">
    <input type="number" name="idProduct" id="idProduct">
    <input type="submit" value="eliminar">
</form>



<h3>LISTA DE PRODUCTOS</h3>
<p id="productsList">
    {{!-- {{#if products.length}}
    {{#each products}}

<p>Producto: {{title}} </p>

<p>Precio: {{price}}</p>

{{/each}}

{{else}}
<h2>NO HAY PRODUCTOS REGISTRADOS</h2>
{{/if}} --}}
</p>



<script src="/socket.io/socket.io.js"></script>

<script src="/js/index.js"></script>