{{> navbar}}
	
	<form  class="formProducts" id="formulario" action="/api/products" method="post">
	<h3>Agregar producto</h3>
		<label for="title">Title</label>
		<input autofocus type="text" name="title" id="title" required>

		<label for="description">Description</label>
		<input type="text" name="description" id="description" required>
		<div class="inputs-short">
			<label for="code">Code</label>
		 <input type="text" name="code" id="code" required>

		<label for="price">Price</label>
		<input type="number" name="price" id="price" required>

		<label for="stock">Stock</label>
		 <input type="number" name="status" id="status">
		</div>
		

		<label for="category">Category</label>
		 <input type="text" name="category" id="category" required>

		<label for="thumbnail">Thumbnail</label>
		 <input type="url" name="thumbnail" id="thumbnail">

		<input class="submitButton" type="submit" value="Enviar">
	</form>




<div class="deleteForm">
	<h3>Eliminar producto</h3>
<form  id="deleteForm" action="/api/products" method="delete">
<label for="idProduct">ID:</label>
	<input type="string" name="idProduct" id="idProduct">
	<input type="submit" value="eliminar">
</form>
</div>













<script src="/js/productsRegistration.js"></script>