<h2>Crear usuario</h2>

<form action="/api/users/registro" method="POST">
    Nombre:<input type="text" name="first_name" id="first_name" required>
    Apellido:<input type="text" name="last_name" id="last_name" required>
    Email:<input type="email" name="email" id="email" required>
    Edad:<input type="number" name="age" id="age" required>
    Contraseña:<input type="password" name="password" id="password" required>
    <input type="submit" value="Registrar">
</form>

